/* CSS (start.css) */

.start-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #171513;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 300px;
  display: flex;
  align-items: center;
}

.form__field {
  font-family: inherit;
  flex: 1;
  border: 0;
  border-bottom: 2px solid #666;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
  color: #999;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #999;
}

.form__field:focus {
  border-color: #ccc;
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #ccc, #fff);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  top: 0;
  font-size: 0.9rem;
  color: #ccc;
  font-weight: 700;
}

.arrow-button {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button.active {
  color: #fff;
}

.arrow-button:not(.active) {
  pointer-events: none;
}
