html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background-color: #171513;
}
