.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);
  aspect-ratio: 1;
  margin: auto;
  border: 5px solid #444;
  border-radius: 5px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background-color: #171513;
}
